
.header{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top:0px;
    left : 0px;

    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    font-size: 25px;

    padding : 20px 40px;


    background-color: rgba(0, 0, 0, 0);


    color: rgba(255,255,255,0.85);

    transition: all 0.5s ease-in-out;
}
.moving{
    background-color: #3b8d99;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.header__title{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 40px;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}
.header__title:hover{
    transform: scale(1.2);
}
.header__menu{
    display: flex;

}
.header__menu div{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 0px 10px;
    transition: all 0.2s ease-in-out;
}
.header__menu div:hover{
    transform: scale(1.2);
}
.header__profil{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}
.header__profil:hover{
    transform: scale(1.2);
}

.profilImg{
    margin-right: 10px;
}

@media screen and (max-width: 800px) {
    /*
    .header{
        height: 250px;
    }
    .header__menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header__menu>div{
        padding: 10px;
    }
    .header__title{
        font-size: 30px;
    }*/
    .header__title{
        font-size: 30px;
    }
    .header__menu{
        font-size: 20px;
    }
    .header__menu>div{
        padding :4px;
    }
    .header__profil span{
        font-size: 20px;
    }
}
